/* Stylesheet */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {  
  /* Horizontal and Vertical Center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
   width:820px;
   height:550px;
   margin:0 auto;
   border: 5px solid gray; 
   

  /* Extend full height of browser  */
  /*height: 100vh;*/
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: 820px 550px;
 background-repeat: no-repeat;
 background-color: black;
  background-position: center; 
  
}

/* Apply Font */
main {
  font-family: 'Rajdhani' , bold;
  font-size: 2.5vmin;
  text-align: center;
  color: white;
  /* Add contrast to text */
  background-color: rgba(5, 39, 74, 0.4);
  position: absolute;
  top: 600px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
  
}

nav {
   clear: both;
   position: absolute;
  
  top: 835px;
  justify-content: space-evenly;
  
}

img {
  height: 50px;
  padding: 10px;
   width: 200px;
  opacity: 0.5;
}

.next:hover  {
  opacity: 1;
}

.random:hover  {
  opacity: 1;
}
.prev:hover  {
  opacity: 1;
}
